fastapi
uvicorn
sqlalchemy
pymysql
pydantic
prometheus-fastapi-instrumentator
structlog
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation
opentelemetry-instrumentation-fastapi
Deprecated
opentelemetry-exporter-otlp